[Desktop Entry]
Version=1.0
Type=Application
Name=Arduino IDE
Comment=Arduino IDE
Exec=/home/pi/arduino-1.8.10/arduino
Icon=lib/icons/32x32/apps/arduino.png
Terminal=false
StartupNotify=false
Name[en_US]=Arduino
