<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>

    <header>
        <% include ../partials/header %>
    </header>
  	
	<!-- Begin page content -->
	<div class="container">
		Body
	</div>	

    <footer class="footer">
		<% include ../partials/footer %>
    </footer>
  </body>
</html>