[Desktop Entry]
Name=Upload-GRBL-V1.1E
Version=1.0
Comment=Upload-GRBL-V1.1E
Exec=/home/pi/RPI-CNC-Config-Scripts/resources/scripts/Run-Flash-GRBL-V1.1E.sh
Terminal=true
Type=Application
