[Desktop Entry]
Name=Upload-GRBL-V0.9J
Version=1.0
Comment=Upload-GRBL-V0.9J
Exec=/home/pi/RPI-CNC-Config-Scripts/resources/scripts/Run-Flash-GRBL-V0.9J.sh
Terminal=true
Type=Application
